body {
 background: url(https://graphicriver.img.customer.envatousercontent.com/files/123274302/Watercolor%20texture%20(main%20preview).jpg); background-size: 100% 100%;
}

h1 {
 	font-family: "Helvetica Neue", Helvetica, sans-serif, "Helvetica Bold", Social /*!System*/;
	font-style: normal;
	font-weight: 700;
	padding: 0;
	margin: 0;
  color: #02ff13;
 	font-size: 3.5rem;
	line-height: 1.1;
	text-rendering: optimizeLegibility;
 
}

b, strong {
	font-weight: bold;
}


ul, ol {
	margin: 0;
	padding: 0 0 0 1em;
}


h2 {
	font-family: "Helvetica Neue", Helvetica, sans-serif, "Helvetica Bold", Social /*!System*/;
	font-style: normal;
	font-weight: 700;
	padding: 0;
	margin: 0;
	color: rgba(95, 78, 78, 0.85);
	font-size: 3rem;
	line-height: 1.1;
	text-rendering: optimizeLegibility;
}

small {
	display: inline-block;
	font-size: 1.1rem;
	line-height: 1.4;
	font-family: "Helvetica Neue", Helvetica, sans-serif, "Helvetica Bold", Social /*!System*/;
	font-style: normal;
	font-weight: 400;
	color: rgba(95, 78, 78, 0.85);
}

small a {
	display: inline-block;
	font-size: 1.1rem;
	line-height: 1.4;
	font-family: "Helvetica Neue", Helvetica, sans-serif, "Helvetica Bold", Social /*!System*/;
	font-style: normal;
	font-weight: 400;
	color: rgba(95, 78, 78, 0.85);
}

img {
  width: 100%;
}
